<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Travelogue</title>
    <environment names="Development">
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/other2.css" />
        <link rel="stylesheet" href="~/css/stylish-portfolio.css" />
        <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/simple-line-icons.css" />
        @*<link href="~/lib/rich-editor/rich-editor.css" rel="stylesheet" />*@
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/simple-line-icons.css" asp-append-version="true" />
     </environment>
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Travel" asp-action="Index">Travelogue</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Travel" asp-action="Index">Home</a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Posts" asp-action="Index">All Posts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Travel" asp-action="Trips">Trips</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Auth" asp-action="Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Auth" asp-action="Register">Create Account</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div>
        @if (User.Identity.IsAuthenticated)
        {
            <button id="sidebarToggle" class="btn btn-lg sidetoggle expand-toggle">
                <img src="~/images/IMG-20181111-WA0013.jpg" alt="headshot" class="headshot-nav" />
            </button>
            <div id="sidebar" class="hide-sidebar">
                <img src="~/images/IMG-20181111-WA0013.jpg" alt="headshot" class="headshot" />
                <ul class="nav" style="float:right;display:inline-block;">
                    <li><a class="btn btn-primary" asp-area="" asp-controller="Travel" asp-action="Trips">My Trips</a></li>
                    <li><a class="btn btn-primary" style="margin-top: 18px;margin-left: 4px;" asp-area="" asp-controller="Auth" asp-action="Logout">Logout</a></li>
                </ul>
                <span id="userName">@User.Identity.Name</span>
            </div>
        }
        <div id="wrapper" style="border-radius:50%;">
            <div id="main" style="width:100%;background-color: #eee;display: block;padding-top: 50px;">
                <div class="jumbotron-content">
                    @RenderBody()
                </div>
            </div>
        </div>
        @*<div style="margin: 0 auto;bottom: 0px;position: fixed; width: 100%;z-index:60;" class="navbar navbar-inverse">
                <h4 class="text-center">&copy; 2016 - Travelogue</h4>
            </div>*@
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/underscore/underscore.js"></script>
        <script src="http://knockoutjs.com/downloads/knockout-3.0.0.debug.js" type="text/javascript"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" asp-append-version="true"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("scripts", required: false)
</body>
</html>
