<section>
    <div class="container">
        <section class="bg-light" id="about" style="padding-top: 20px; padding-bottom: 20px;">
            <div class="container text-center">
               
                <div class="row">
                    <div class="col-lg-7">
                        <h1>Eoin Dennehy</h1>
                        <h2>Software Developer with 6 years experience</h2>
                        <p class="lead mb-5">
                            C#, ASP.NET MVC, SQL, Javascript, HTML5, CSS and more....
                        </p>
                        <a class="btn btn-dark btn-xl js-scroll-trigger" href="#aboutMe">About Me</a>
                        <a class="btn btn-dark btn-xl js-scroll-trigger" href="#portfolio">My Other Projects</a>
                    </div>
                    <div class="col-lg-5">
                        <img src="~/content/Capture.PNG" />
                    </div>
                </div>
            </div>
        </section>

        <!-- Services -->
        <section class="content-section bg-primary text-white text-center" id="aboutMe">
            <div class="container">
                <div class="content-section-heading">
                    <h3 class="text-secondary mb-0">Services</h3>
                    <h2 class="mb-5">About Me</h2>
                </div>
                <div class="row">
                    <div class="card-container">
                        <div class="card">
                            <div class="side">
                                <img src="https://img.icons8.com/ios/50/000000/github-filled.png" class="flip-card-image">
                            </div>
                            <div class="side back">
                                <a class="btn btn-primary" href="https://github.com/eoinerd">GitHub</a>
                            </div>
                        </div>
                    </div>
                    <div class="flip-card-spacer"></div>
                    <div class="card-container">
                        <div class="card">
                            <div class="side">
                                <img src="https://img.icons8.com/ios/50/000000/linkedin-filled.png" class="flip-card-image">
                            </div>
                            <div class="side back">
                                <a class="btn btn-primary" href="https://www.linkedin.com/in/eoin-dennehy-41582631/">LinkedIn</a>
                            </div>
                        </div>
                    </div>
                    <div class="flip-card-spacer"></div>
                    <div class="card-container">
                        <div class="card">
                            <div class="side">
                                <img src="https://img.icons8.com/ios/50/000000/facebook-filled.png" class="flip-card-image">
                            </div>
                            <div class="side back">
                                <a class="btn btn-primary" href="https://facebook.com/eoinerd">Facebook</a>
                            </div>
                        </div>
                    </div>
                    <div class="flip-card-spacer"></div>
                    <div class="card-container">
                        <div class="card">
                            <div class="side">
                                <img src="~/img/34-512.png" class="flip-card-image" />
                            </div>
                            <div class="side back">
                                <a class="btn btn-primary" href="~/content/CV_ED-2019.pdf">Curriculum Vitae</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Portfolio -->
        <section class="content-section" id="portfolio">
            <div class="container">
                <div class="content-section-heading text-center">
                    <h3 class="text-secondary mb-0">Portfolio</h3>
                    <h2 class="mb-5">Recent Projects</h2>
                </div>
                <div class="row no-gutters">
                    <div class="col-lg-6">
                        <a class="portfolio-item" href="#">
                            <span class="caption">
                                <span class="caption-content">
                                    <h2>Gig Finder</h2>
                                    <p class="mb-0">An AngularJs App for finding music gigs close to your location</p>
                                </span>
                            </span>
                            <img class="img-fluid" src="~/img/themoat.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a class="portfolio-item" href="#">
                            <span class="caption">
                                <span class="caption-content">
                                    <h2>Angular 4 App</h2>
                                    <p class="mb-0">Some future App implemented in Angular</p>
                                </span>
                            </span>
                            <img class="img-fluid" src="~/img/portfolio-2.jpg" alt="" style="">
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a class="portfolio-item" href="#">
                            <span class="caption">
                                <span class="caption-content">
                                    <h2>React App</h2>
                                    <p class="mb-0">Some future App implemented in React</p>
                                </span>
                            </span>
                            <img class="img-fluid" src="~/img/portfolio-3.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a class="portfolio-item" href="http://www.eoinertravels.com">
                            <span class="caption">
                                <span class="caption-content">
                                    <h2>Python</h2>
                                    <p class="mb-0">Some other project</p>
                                </span>
                            </span>
                            <img class="img-fluid" src="~/img/portfolio-1.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Map -->
        <section id="contact" class="map">
            <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d6093.8771809368545!2d-8.422575400249917!3d40.21042894391866!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2spt!4v1555097063304!5m2!1sen!2spt"></iframe>
            <br />
            <small>
                <a href="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d6093.8771809368545!2d-8.422575400249917!3d40.21042894391866!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2spt!4v1555097063304!5m2!1sen!2spt"></a>
            </small>
        </section>
    </div>
</section>
