
#main{
    background-color: #eee;
    display: block;
    padding-top: 50px;
}
body {
    padding-top:0px;
    padding-bottom: 20px;
    margin: 0;
    background-color: #eee;
}

#footer{
    background-color: #2a2c36;
    color: #ff6a00;
    padding: 8px 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.headshot{
    max-width: 100px;
    border: 1px solid black;
    border-radius: 50%;
    margin-bottom: 10px;
}

.menu {
    font-size: 12px;
}

.menu li {
    list-style-type: none;
}

.menu li.active {
    font-weight: bold;
}

#sidebar {
    background: #f7f7f0;
    border:1px solid #dadad2; 
    color: #eee;
    position: fixed;
    width: 257px;
    overflow: hidden;
    right: 17px;
    top:60px;
    margin: 0;
    -moz-transition: top ease .45s;
    -o-transition: top ease .45s; 
    -webkit-transition: top ease .45s;
    transition: top ease .45s;
    z-index: 70;
    border-radius: 2%;
    padding: 20px;
}

#sidebar.hide-sidebar {
    top:-340px;
    transition: top 0.5s ease-in 0.2s !important;

}

#wrapper {
    display: block;
    margin: 0 auto;
    -moz-transition: margin-left ease .45s;
    -o-transition: margin-left ease .45s;
    -webkit-transition: margin-left ease .45s;
    transition: margin-left ease .45s;
}

#wrapper.hide-sidebar {
    margin-left:0px;
    -moz-transition: margin-left ease .45s;
    -o-transition: margin-left ease .45s;
    -webkit-transition: margin-left ease .45s;
    transition: margin-left ease .45s;
}

.middle{
    width: 50%;
    display: block;
    margin: 0 auto;
}

.sidetoggle{
    background-color: transparent;
    color: white;
    right: 17px;
    z-index: 10000;
    position: absolute;
}

.sidetoggle.expand-toggle {
     margin-left: -138px;
    -moz-transition: margin-left ease .45s;
    -o-transition: margin-left ease .45s;
    -webkit-transition: margin-left ease .45s;
    transition: margin-left ease .45s;
}

.sidetoggle.collapse-toggle {
        margin-left: -318px;
    -moz-transition: margin-left ease .45s;
    -o-transition: margin-left ease .45s;
    -webkit-transition: margin-left ease .45s;
    transition: margin-left ease .45s;
}

#sidebarToggle {
    position: fixed;
    top: 1px;
}

.rotator {

}

.rotator .container {
    overflow: hidden;
    border-color: rgba(0, 0, 0, 0.2);
    margin: 5px auto;
    position: relative;
}

.rotator .container .images {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.rotator .container .images img {
    position: absolute;
    text-align: center;
    display: block;
}

.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
}

.loading img {
    position: absolute;
}

.controls {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 23%;
}

.controls span {
    display: inline-block;
    height: 12px;
    width: 12px;
    box-sizing: border-box;
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    margin: 0 5px;
    cursor: pointer;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.08) inset;
    -webkit-transition: all 400ms;
    transition: all 400ms;
}

.controls span.active {
    cursor: default;
    background-color: #000000;
    border: none;   
     box-shadow: 0px -1px 1px 0px rgba(0, 0, 0, 0.35) inset;
}

#map {
    width:100%;
    height:466px;
    top:30px;
    right:10px;
}

#container{
        width: 60%;
    margin: 0 auto;
}

.jumbotron-content{
    width: 70%;
    margin: 0 auto;
    background-color: #f7f7f0;
    margin-top:40px;
    padding: 1px 20px 20px 20px;
    border: 1px solid #dadad2;
}

.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.map-container{
    width: 606px;
    float: right;
    display: inline-block;
}
.card-container {
  cursor: pointer;
  height: 150px;
  perspective: 600;
  position: relative;
  width: 150px;
  display: inline-block;
  margin-right: -15px;
}
.card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
  margin-left: 50px;
  border-radius: 50%;
  border:none;
}
.card:hover {
  transform: rotateY(180deg);
}
.card .side {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.card .back {
  color: #0087cc;
  top: 30px;
  text-align: center;
  transform: rotateY(180deg);
}

.fa-chevron-circle-down:hover, .fa-chevron-circle-up:hover, .sidetoggle:hover {
    cursor: pointer;
    color: #eee !important;
}

.headshot-nav{
    max-width: 50px;
    border-radius: 50%;
}
#userName{
    color:#000;
    font-weight:bold;
    margin-left: 26px;
}
