@model Travelogue.ViewModels.PostViewModel
@{
    ViewData["Title"] = "Create Post";
}

<div class="row">
    <div class="col-md-7 col-md-offset-3">
        <h2>@ViewData["Title"]</h2>
        <form method="post" enctype="multipart/form-data">
            <span asp-validation-summary="ModelOnly"></span>
            @Html.AntiForgeryToken()
            @if (ViewBag.UserMessage != null)
            {
                <div>@ViewBag.UserMessage</div>
            }
            <div class="form-group">
                <label asp-for="Title" class="">Title</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-muted"></span>
            </div>

            <div class="form-group">
                <label asp-for="PostText">Post</label>
                <textarea asp-for="PostText" type="text" id="summerNoteCreatePost"></textarea>
                <span asp-validation-for="PostText" class="text-muted"></span>
            </div>

            <div class="form-group">
                <label asp-for="TopTip" class="">Top Tip</label>
                <textarea cols="40" rows="3" asp-for="TopTip" type="text" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <label asp-for="AllowsComments">Allow Comments</label>
                <input type="checkbox" asp-for="AllowsComments" checked/>
                <label asp-for="Published">Publish Post</label>
                <input type="checkbox" asp-for="Published" checked/>
            </div>

            <div class="form-group">
                <label asp-for="Image">Upload Image</label>
                <input type="file" name="Image" id="Imageinput" asp-for="Image" class="form-control" />
            </div>

            <div>
                <a asp-controller="Posts" asp-action="Index" class="btn btn-warning">Cancel</a>
                <input type="submit" value="Create Post" class="btn btn-success" />
            </div>
            <input type="hidden" asp-for="Trip" id="hdnTrip" />
            <input type="hidden" asp-for="Stop" id="hdnStop" />
        </form>
    </div>
    <div class="col-md-5">
        <div class="row" ng-app="app-trips">
            <div ng-view style="width:100%;"></div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDV8YBn-Y4Lyl43-uRP6nUtnPRw4Ta1zT8&sensor=false&amp;libraries=places"></script>
    <script src="~/lib/underscore/underscore-min.js"></script>
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/lib/gmaps/gmaps.min.js"></script>
    <script src="~/lib/travelmap/travelmap.js"></script>
    <script src="~/js/simpleControls.js"></script>
    <script src="~/js/app-trips.js"></script>
    <script src="~/js/tripsController.js"></script>
    <script src="~/js/bootstrap_confirm_dialog.js"></script>
    <script src="~/js/createPostWithMapController.js"></script>
    

    <script type="text/javascript">
        $(document).ready(function () {
            $('#summerNoteCreatePost').summernote({
                height: 200,
                popover: {
                    image: [],
                    link: [],
                    air: []
                }
            });
        });
    </script>
}
