@model Travelogue.ViewModels.PostViewModel
@{
    ViewData["Title"] = "Create Post";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>@ViewData["Title"]</h2>
        <form method="post" enctype="multipart/form-data">
            <span asp-validation-summary="ModelOnly"></span>
            @if (ViewBag.UserMessage != null)
            {
                <div>@ViewBag.UserMessage</div>
            }
            <div class="form-group">
                <label asp-for="Title" class="">Title</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-muted"></span>
            </div>

            <div class="form-group">
                <label asp-for="Post">Post</label>
                <textarea cols="40" rows="10" asp-for="Post" type="text" class="form-control"></textarea>
                <span asp-validation-for="Post" class="text-muted"></span>
            </div>

            <div class="form-group">
                <label asp-for="AllowsComments">Allow Comments?</label>
                <input type="checkbox" asp-for="AllowsComments" class="form-control" />
                <span asp-validation-for="AllowsComments" class="text-muted"></span>
            </div>

            <div class="form-group">
                <label asp-for="Image">Upload Image</label>
                <input type="file" name="Image" id="Imageinput" asp-for="Image" class="form-control" />
            </div>

            <div>
                <a asp-controller="Post" asp-action="Index" class="btn btn-warning">Cancel</a>
                <input type="submit" value="Create Post" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

