@{
    ViewData["Title"] = "Home Page";
}


<div class="rotator">
    <div class="container" data-bind="style:{width:width, height:height}">
        <div class="images" data-bind="template: {name:'imageTpl', foreach:images}">
        </div>
        <!-- ko if: showLoading -->
        <div class="loading"><img src="http://pshabalin.files.wordpress.com/2013/01/loading.gif" /></div>
        <!-- /ko -->
    </div>
    <div class="controls" data-bind="template: { name: 'controlTpl', foreach: imageViewModels}"></div>
</div>

<script id="imageTpl" type="text/html">
    <img data-bind="attr : {src : url}" />
</script>
<script id="controlTpl" type="text/html">
    <span data-bind="css : {active : active()}, click : $parent.onCtrlClick.bind($parent)"></span>
</script>
<div class="row">
    <div class="col-md-12" style="padding:20px;">
        <a asp-controller="Home" asp-action="Trips" class="btn btn-lg btn-success" style="float: right;width: 200px;margin-right: 338px;">Trips</a>
    </div>
</div>