<div class="card-custom my-4">
    <h5 class="card-header">Leave a Comment:</h5>
    <div class="card-body">
        <div class="form-group">
            <textarea id="userComment" class="form-control" rows="3"></textarea>
        </div>
        <button id="addCommentBtn" type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>
