@model IEnumerable<Travelogue.Models.Comment>

@foreach (var comment in Model.OrderByDescending(x => x.Id))
{
    <div class="media mb-4 p-10">
        <img class="d-flex mr-3 rounded-circle m-width-50" src="@comment.Image" alt="">
        <div class="media-body">
            <h5 class="mt-0">@comment.Username</h5>
            @comment.Text
        </div>
    </div>
    <hr/>
}